# Configurações de Banco de Dados
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=canteiro_root
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/canteiro_root

# Configurações do Backend
PORT=3000
JWT_SECRET=v9_secreto_2026

# Informações da Desenvolvedora
DEVELOPER=V9 INFORMÁTICA LTDA - (37) 4141-0341 - Divinópolis MG
